* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --corPrincipal: #20C088;
    --corSecundaria: #111;
}

.inputInicial {
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}